.contanier-models{
  width: 100%;
  margin: 80px 0 0;
}

.section-box-models{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  background-color: #000000;
  padding: 40px 5%;
}

.box-model{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 400px;
  text-align: justify;
  background-color: #B22222;
  border-radius: 15px;
}

.model-img{
  width: 50%;
  height: 100%;
}

.box-model .img-one{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
}

.box-model .img-two{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0 15px 15px 0;
  object-fit: cover;
}

.model-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 50%;
  padding: 20px 5%;
}
.model-description h1{
  font-size: 2rem;
  font-weight: 700;
}

.model-description p{
  font-weight: 600;
}

.btn-model{
  width: 60%;
  border: 2px solid #FFFFFF;
  background-color: #121212;
  border-radius: 9px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 10px 40px;
  cursor: pointer;
  transition-duration: .5s;
}

.btn-model:hover{
  border: 2px solid #121212;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
  color: #121212;
}
